{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<main>
		<h1>{{ article.titre }}</h1>
		<p>{{ article.contenu }}</p>
		<h2>by
			{{ article.user.pseudo }}</h2>
	</main>
{% endblock %}
