{% extends "base.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="css/categorie.css">
{% endblock %}

{% block body %}
	<main>
		<section>
			{% for article in articles %}
				<div><a href="{{ path('app_article', { id: article.id }) }}">
					<h2>{{ article.titre }}</h2>
                    </a>
				</div>
			{% endfor %}
		</section>
	</main>
{% endblock %}
