{% extends "base.html.twig" %}
{% block title %}Compte
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="css/connexion.css">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="module" src="js/connexion.js"></script>
{% endblock %}

{% block body %}
	<main>
		<section>
			{{ form(form) }}
			</section>
		</main>
	{% endblock %}
