{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<main>
		{% for categorie in categories %}
		<a href="{{ path('app_categorie', { id: categorie.id }) }}">
			<h2>{{ categorie.nom }}</h2>
			</a>
		{% endfor %}
	</main>
{% endblock %}
