{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="css/home.css">
{% endblock %}
{% block body %}
	<main>
		<section>
			{% for categorie in categories %}
				<div>
					<a href="{{ path('app_categorie', { id: categorie.id }) }}">
						<h2>{{ categorie.nom }}</h2>
					</a>
				</div>
			{% endfor %}
		</section>
	</main>
{% endblock %}
