main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    > section {
        width: 90%;
        height: 80%;
        > img {
            width: 90vw;
            height: auto;
        }
    }
}