$green: #046908;
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
    width: 100%;
    height: 50%;
    > section:nth-child(1) {
        width: 80%;
        height: 80%;
        font-family: roboto;
        article {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 3vh;
            align-items: center;
            justify-content: center;
            padding: 2vw;
            border: solid black 1px;
            background-color: white;
            box-shadow: 5px 5px 5px black;
            h1 {
                font-size: calc(12px + 4vw);
            }
            p {
                font-size: calc(12px + 2vw);
                text-align: justify;
                color: black;
            }
            a {
                font-size: calc(12px + 1.5vw);
            }
            h3 {
                color: black;
            }
            img {
                width: 100%;
                height: auto;
            }
            > div:nth-child(1) {
                display: flex;
                flex-direction: column;
                row-gap: 2vh;
                > div {
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    column-gap: 1vw;
                    > h2:nth-child(1) {
                        color: black;
                    }
                }
            }
        }
    }
    > section:nth-child(2) {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 3vh;
        > article:nth-child(1) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            > div:nth-child(1) {
                width: 100%;
                display: flex;
                justify-content: start;
                h2 {
                    font-size: calc(12px + 3vw);
                    color: $green;
                }
            }
        }
        > article:nth-child(2) {
            width: 100%;
            display: none;
            > form {
                width: 100%;
                > div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    row-gap: 2vh;
                    > div {
                        display: flex;
                        align-items: center;
                        column-gap: 2vw;
                        > textarea {
                            padding: 1vw;
                            width: 60%;
                            border-radius: 5px; 
                        }
                    }
                    > div:nth-child(1) {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                    > div:nth-child(2) {
                        display: flex;
                        justify-content: end;
                    }
                }
            }
        }
    }
    > section:nth-child(3) {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        row-gap: 4vh;
        font-family: roboto;
        > .comms {
            width: 100%;
            padding: 2vw;
            border: solid black 1px;
            background-color: white;
            box-shadow: 5px 5px 5px black;
            color: black;
            display: flex;
            flex-direction: column;
            row-gap: 1vh;  
            align-items: start;
            > div:nth-child(1) {
                color: blue;
                font-size: calc(12px + 1.5vw);
            }
            > div:nth-child(2) {
                > p {
                    font-size: calc(12px + 2vw);
                }
            }
        }
    }
}
