@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

.bouton {
  border: 4px double #cccccc;
  padding: .2vw 1vw .2vw 1vw;
  border-radius: 20px;
  font-weight: bold;
  background-color: orange;
  -webkit-transition: .5s;
  transition: .5s;
}

.bouton:hover {
  cursor: pointer;
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
  -webkit-transition: .5s;
  transition: .5s;
}

.closeBouton {
  border: 4px double #cccccc;
  padding: .2vw 1vw .2vw 1vw;
  border-radius: 20px;
  font-weight: bold;
  background-color: red;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.closeBouton:hover {
  cursor: pointer;
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
  -webkit-transition: .5s;
  transition: .5s;
}

body {
  width: 100vw;
  background-color: #DADADA;
  color: #046908;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5vh;
}

body nav {
  position: relative;
  background-color: #C4C4C4;
  font-family: architects daughter;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 1vh;
}

body nav > div:nth-child(1) {
  padding: .75vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px black solid;
}

body nav > div:nth-child(1) > div:nth-child(1) {
  width: 75%;
  font-size: calc(12px + 8vw);
}

body nav > div:nth-child(1) > img {
  height: 10vw;
  width: 10vw;
}

body nav > div:nth-child(2) {
  position: absolute;
  top: 100%;
  width: 100%;
  display: none;
  background-color: #C4C4C4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: roboto;
  padding: .75vh;
}

body nav > div:nth-child(2) > div:nth-child(1) {
  width: 50%;
}

body nav > div:nth-child(2) > div:nth-child(1) > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2vh;
  list-style: none;
}

body nav > div:nth-child(2) > div:nth-child(1) > ul > li {
  font-size: calc(12px + 3vw);
  font-weight: bold;
}

body nav > div:nth-child(2) > div:nth-child(1) > ul > li > a {
  text-decoration: none;
  color: #046908;
}
/*# sourceMappingURL=style.css.map */