@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:wght@300&display=swap');
$titre: architects daughter;
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    background-color: #DADADA;
    color: #046908;
    nav {
        background-color: #C4C4C4;
        font-family: $titre;
        width: 100%;
        display: flex;
        justify-content: space-around;
        > div:nth-child(1) {
            padding: .5vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            > div:nth-child(1) {
                width: 75%;
                font-size: calc(12px + 8vw);
            }
            > img {
                height: 10vw;
                width: 10vw;
            }
        }
    }
}