<nav>
	<div>
		<div>
			le Blog de Toto
		</div>
		<img id="burgerBtn" src="img/burger.png" alt="icone menu burger">
	</div>
	<div class="burgerMenu">
		<div>
			<ul>
				<li><a href="{{path('app_main')}}">Accueil</a></li>
				<li><a href="{{path('app_about')}}">About</a></li>
				<li><a href="toto.php">Compte</a></li>
				<li><a href="{{path('app_connexion')}}">Connexion</a></li>
			</ul>
		</div>
	</div>
</nav>
